:root {
    --title-bg-color: linear-gradient(8deg, rgba(8, 52, 83, 1) 0%, rgb(0, 180, 230) 41%, rgba(41, 17, 45, 1) 100%); 
    --silver-color: silver; 
    --bg-color: rgba(255, 255, 255, 0.05);
    --second-bg-color:  rgb(4, 52, 83);
    --text-color: rgb(0, 180, 230); 
    --gray-color : rgba(114, 226, 174, 0.2);
    --beige-color: rgba(255, 255, 255, 0.6);
    --main-color: whitesmoke; 
    --gold-color: #a2781dfc; 
}

body {
    background-color: var(--second-bg-color);
    overflow-x: hidden;
}

html, body, section#homepage.container {
    width: 100%;
}

.navbar a {
    color: var(--gold-color);
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  .navbar a.active {
    color: var(--main-color);
    font-weight: bold;
  }
  

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--second-bg-color);
    padding: 1.7rem 2rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.container {
    margin-top: 7rem;
    min-height: 100vh;
    width: 100%;
    background-color: #191a2b;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.navbar a {
    font-size: 1.3rem;
    color: var(--gold-color);
    margin-left: .7rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

/*.navbar a:hover,
.navbar a.active {
    color: var(--silver-color);
    border-bottom: 3px solid var(--main-color);
}*/

#menu-icon {
    font-size: 2.1rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800px;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--main-color);
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
    padding: 7px;
    text-align: center;
    position: relative;
    width: 100%;
}

footer p {
    color: var(--main-color);
    font-size: 15px;
    font-style: italic;
    line-height: 1.3;
    margin: 0;
}

.scroll-btn {
    display: inline-block;
    font-size: 3rem;
    color: var(--main-color);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: transparent;
    background: var(--title-bg-color);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-bottom: 50%;
    top: 50%;
    right: 30px; 
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: var(--gold-color); 
}


@media(max-width: 340PX) {
    html {
        width: 50%;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;

    }

    #menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: var(--gold-color);
        font-weight: bold;
        left : 17rem
    }

    .secteur {
        width: 20%;
    }

    .secteur {
        width: 20%;
    }

    div.secteur div.zones {
        font-size: 14px;
    }

    div.secteur div.zones {
        font-size: 14px;
    }

    div.secteur div.zones p {
        padding: 4px;
        margin: 2px;
    }

    div.secteur h4 {
        font-size: 18px;
    }

    div.presentation p {
        font-size: 14px;
    }

    .navbar.active {
        display: flex;
        background-color: var(--gold-color);
        width: 10rem;
        right: 5rem;
    }

    .navbar a {
        margin-top: 10px;
        padding: 5px 5px; 
        text-align: center;
        width: 100%;
        color: var(--second-bg-color);
        font-weight: bold;
    }
    
}


.tarif-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-in-out, transform 1s ease-out;
}

.tarif-item.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 480px) {
    .header {
        padding: 1rem 1.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;

    }

    #menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: var(--gold-color);
        font-weight: bold;
    }

    .navbar.active {
        display: flex;
        background-color: var(--gold-color);
        width: 10rem;
        right: 5rem;
    }

    .navbar a {
        margin-top: 10px;
        padding: 5px 5px; 
        text-align: center;
        width: 100%;
        color: var(--second-bg-color);
        font-weight: bold;
    }

    .scroll-btn {
        font-size: 2.5rem;
        right: 15px;
    }

    footer p {
        font-size: 13px;
    }
}

@media (max-width: 655px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;

    }

    #menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: var(--gold-color);
        font-weight: bold;
        position: absolute;
        right: 5rem;
        font-size: 3rem;
    }

    .navbar.active {
        display: flex;
        background-color: var(--gold-color);
        width: 10rem;
        right: 5rem;
    }

    .navbar a {
        margin-top: 10px;
        padding: 5px 5px; 
        text-align: center;
        width: 100%;
        color: var(--second-bg-color);
        font-weight: bold;
    }
}

@media (max-width: 700px) {
    span{
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 1.2rem 1.8rem;
    }

    .logo {
        font-size: 1.8rem;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;

    }

    #menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: var(--gold-color);
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 7rem;
        z-index: 10;
    }

    .navbar.active {
        display: flex;
        background-color: var(--gold-color);
        width: 10rem;
        right: 5rem;
    }

    .navbar a {
        margin-top: 10px;
        padding: 5px 5px; 
        text-align: center;
        width: 100%;
        color: var(--second-bg-color);
        font-weight: bold;
    }
    .scroll-btn {
        font-size: 2.8rem;
    }

    footer p {
        font-size: 14px;
    }
}

@media (max-width: 826px){
    .navbar {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 1.5rem 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.3rem;
    }

    .scroll-btn {
        font-size: 3rem;
    }

    footer p {
        font-size: 15px;
    }
}


@media (max-width: 1200px) {
    .header {
        padding: 1.7rem 2.5rem;
    }

    .navbar a {
        font-size: 1.3rem;
        margin-left: 1rem;
    }

    .logo {
        font-size: 2.1rem;
    }

    .scroll-btn {
        font-size: 3.2rem;
    }
}

@media (min-width: 1201px) {
    .header {
        padding: 2rem 3rem;
    }

    .navbar a {
        font-size: 1.5rem;
        margin-left: 1.2rem;
    }

    .logo {
        font-size: 2.5rem;
    }

    .scroll-btn {
        font-size: 3.5rem;
    }
}



/* Styles de base */
.response-message {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    color: rgba(234, 245, 234, 0.951);
}

.response-sub-message {
    color: rgba(218, 165, 32, 0.681);
}

@media (max-width: 768px) {
    .response-message {
        font-size: 3rem;
        padding: 1rem;
    }

    .response-sub-message {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .response-message {
        font-size: 1rem;
    }

    .response-sub-message {
        font-size: .5rem;
    }
}


